<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AdventureXP - AktivitetsCenter</title>
    <link rel="stylesheet" type="text/css" href="../static/style/main.css" th:href="@{/style/main.css}">
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <h1>Adventure XP</h1>

    <img src="https://img.grouponcdn.com/deal/cTkPVAHzqrg4DDshQzwr/8u-2117x1285/v1/c700x420.jpg" />

    <br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/nst8m3-4BW0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>